<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<description>Transform Servlet</description>
		<servlet-name>transform</servlet-name>
		<servlet-class>org.smooks.directmapping.gae.TransformServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Mapping Export Servlet</description>
		<servlet-name>export</servlet-name>
		<servlet-class>org.smooks.directmapping.gae.ExportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Mapping Import Servlet</description>
		<servlet-name>import</servlet-name>
		<servlet-class>org.smooks.directmapping.gae.ImportServlet</servlet-class>
	</servlet>
	<servlet>
		<description>XML Input Servlet</description>
		<servlet-name>input</servlet-name>
		<servlet-class>org.smooks.directmapping.gae.InputServlet</servlet-class>
	</servlet>
	<servlet>
		<description>Smooks Transformation Servlet</description>
		<servlet-name>smooks</servlet-name>
		<servlet-class>org.smooks.directmapping.gae.SmooksTransformServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>export</servlet-name>
		<url-pattern>/export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>import</servlet-name>
		<url-pattern>/import</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>input</servlet-name>
		<url-pattern>/input</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>transform</servlet-name>
		<url-pattern>/transform</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>smooks</servlet-name>
		<url-pattern>/smooks</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>


 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>